#enquetes_list_container {
    display: inline-flex;
    flex-wrap: wrap;
}
.enquetes-div {
    border: solid 2px rgba(147, 147, 147, 0.87);
    border-radius: 10px;
    background-color: #abaaa3;
    margin: 5px;
    padding: 10px;
}
#enquete-form {
    display: inline-block;
    border: solid 2px red;
}
#opcoes_div {
    display: inline-block;
    border: solid 2px red;
}
.block {
    display: block;
}
.finalizada {
    border: solid 2px red;
}
.em_andamento {
    border: solid 2px green;
}
.nao_iniciada {
    border: solid 2px blue;
}