body {
    font-family: "Calibri", serif;
    font-size: 20px;
}
h1 {
    font-size: 50px;
    display: flex;
    justify-content: center;
}
h3 {
    display: flex;
    justify-content: center;
}
#enquetes_list_container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}
.enquetes-div {
    border: solid 2px rgba(147, 147, 147, 0.87);
    border-radius: 10px;
    background-color: #abaaa3;
    margin: 5px;
    padding: 10px;
}
#form_container {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
    font-size: 35px;
    vertical-align: top;
}
#enquete_section {
    display: inline-block;
    align-items: center;
    vertical-align: top;
}
#opcoes_section {
    display: inline-block;
    align-content: start;
    align-self: start;
    vertical-align: top;
}
#form_div {
    border: solid 2px red;
    padding: 20px;
}
#save_button_div {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
#opcoes_input_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.finalizada {
    border: solid 2px red;
}
.em_andamento {
    border: solid 2px green;
}
.nao_iniciada {
    border: solid 2px blue;
}
.block {
    display: block;
}
.bold {
    font-weight: bold;
}
.small_p {
    font-size: 15px;
}